<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @store.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @store.number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @store.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @store.country %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
